<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @item.list_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Done:</strong>
  <%= @item.done %>
</p>

<p>
  <strong>Reactivation delay days:</strong>
  <%= @item.reactivation_delay_days %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
