<!DOCTYPE html>
<html>
  <head>
    <title>Listazar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <link rel="manifest" href="/manifest.json">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <div class="sm-12 md-8 col center">
      <div class="paper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
